html, body {
    height: 100%;
    margin: 0;
}

.background-color {
    background-color: #f8f9fa; /* Exemplo de cor de fundo */
}

.container-fluid {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* O conteúdo (formulário) deve crescer para preencher o espaço disponível */
.row {
    flex-grow: 1;
}
